body{
  background-color: black;
  color: white;
}

h1{

  text-align: center;

  margin: 25px;
  padding: 0;
}

.buttons{
  width: 50%;
  margin: auto;
  display:flex;
}

.buttons button{
  flex: 1;
  margin-bottom: 25px;
}

#curImage{
  display: block;
  margin: auto;
  width: auto;
  height: 300px;
}

p{
  text-align: center;
}
